@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Open+Sans&display=swap');

/* >>> Set All Margins, Paddings and Borders to 0 <<< */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* >>> Body Styles <<< */
body {
    font-family: 'Expletus Sans', cursive;
    background-color: #88EAFA;
}

/* >>> Header Styles <<< */
header {
    background-color: #FFD15E;
    padding: 20px;
    text-align: center;
}

/* >>> H1 Element Styles <<< */
h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #343434;
}

/* >>> Score Area Styles <<< */
.score-panel {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    border: 2px solid black;
    width: 150px;
    margin: 30px auto;
    position: relative;
}

.score-head {
    position: absolute;
    top: -30px;
    right: 50px;
    font-size: 1.5rem;
}

.user-badge {
    position: absolute;
    top: 5px;
    left: -75px;

    font-size: 1.2rem;
    padding: 2px;
    background-color: lightcoral;
    border-radius: 5px;
}

.comp-badge {
    position: absolute;
    top: 5px;
    right: -96px;

    font-size: 1.2rem;
    padding: 2px;
    background-color: lightcoral;
    border-radius: 5px;
}

/* >>> Result Area Styles <<< */
.results {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    position: relative;
    clear: left;
}

.user-result {
    position: absolute;
    left: -125px;
}

.message-result {
    padding-top: 50px;
    padding-bottom: 75px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.comp-result {
    position: absolute;
    top: 0;
    right: -125px;
 }

#user-image {
    width: 150px;
    height: 150px;

    border-radius: 5px;
}

#comp-image {
    width: 150px;
    height: 150px;

    border-radius: 5px;
}

/* >>> Call For Action Message Style <<< */
.call-action {
    text-align: center;
    padding: 50px 0px 5px;
    font-size: 1.3rem;
}

/* >>> Buttons User Options Style */
.control {
    width: 375px;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}

.btn-choices {
    font-size: 3rem;
    padding: 15px;
    margin: 0 20px;

    border: 2px solid #343434;
    box-shadow: 0 0 10px 2px;
    border-radius: 50%;
}

.btn-choices:hover {
    border: 3px solid #fafafa;
}

/* buttons glow colors for right, wrong answers */
.correct-green {
    background-color: greenyellow;
}

.wrong-red {
    background-color: red;
}

.draw-blue {
    background-color: blue;
}

/* >>> Start Button Style <<< */
.start-game {
    text-align: center;
    padding-top: 75px;
}

.start {
    width: 150px;
    height: 75px;
    padding: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: lightcoral;

    border: 2px solid #343434;
    border-radius: 5px;
}

.start:hover {
    border: 3px solid #fafafa;
    color: #FFD15E;
}

/* >>> Reset Button Style <<< */
.reset-game {
    text-align: center;
    margin-top: 50px;
}

.reset {
    font-size: 1rem;
    padding: 3px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #FFD15E;

    border: 2px solid #343434;
    border-radius: 5px;
}

.reset:hover {
    border: 3px solid #fafafa;
    color: darkcyan;
}

/* >>> Footer Style <<< */
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;

    min-height: 100px;

    text-align: center;
    color: #fafafa;
    padding: 10px;
    background-color: #343434;
}

/* >>> Class to Display and Hide Elements <<< */
.hide {
    display: none;
}

