@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Expletus Sans', cursive;
    background-color: #DDEDFA;
}